<div class="faq">
<img src="../../assets/imgs/img1.jpg">
<div class="container-fluid">
 <h2>Frequently Asked Questions</h2>
 <div class="accordion">
   <div class="icon"></div>
     <h5>What is a power optimiser?</h5>
 </div>
  <div class="panel">
    <p>Power optimisers increase the energy output from PV systems by constantly tracking the maximum power point (MPPT) of each module individually.  Modules’ DC voltage is automatically shut down whenever the inverter or grid power is shut, due to the unique Safe DC™ equipped in them. Multiple orientations tilt and module types in the same string are allowed by MPPT per module.
      Without optimisers, shading on a single panel affects the entire string in Solar PV strings equally. For example, shading 50% of one panel reduces the entire system efficiency by 50%. The DC optimizers allow each panel to work independently, so only the output of the afflicted panel will be affected. Hence if one panel goes down, the rest of your panels would continue working at optimal output.</p>
    </div>

    <div class="accordion">
      <div class="icon"></div>
        <h5>Are there different types of solar panels?</h5>
    </div>
     <div class="panel">
       <p>The three types of solar panels are Monocrystalline, polycrystalline, and thin film.
        Monocrystalline solar panels have purer composition cells than the rest of panels due that are cut from a single silicon block. This makes them more efficient with better performance in high heat weather.
        Polycrystalline Solar Panels have cells that are made from different silicon blocks. This makes them less efficient than monocrystalline panels due that the cells are not as pure as if they were cut from a single silicon block.
        There is a third type of solar technology, called thin film panels, are not made as poly or monocrystalline panels but they have a layer of conductive onto a glass or plastic plate.
       </div>

       <div class="accordion">
        <div class="icon"></div>
          <h5>Does an inverter have an IP65 rating?</h5>
      </div>
       <div class="panel">
         <p>Most of the inverters do have an IP65 rating, indicating it has a high rating for dust and water resistance. Although, it can be crucial to ensure that the inverter’s integrity is not compromised and that it operates for the long haul.
        </div>

         <div class="accordion">
          <div class="icon"></div>
            <h5>What is a Tier 1 solar panel?</h5>
        </div>
         <div class="panel">
           <p>A Tier 1 solar panel is made by a manufacturer that has been rated as Tier 1 by a reputable independent PV industry analyst.
            Tier 1 is the highest (best) tier and the analyst who ranked it believes that the module manufacturer scores well on lots of criteria. Such as Experience, Financial position, manufacturing scale, Deployment scale, Durability & quality, Technical Performance, Vertical integration, Insurance and backing, Service, and support.
             It is recommended to buy Tier 1 panels – as it is a simple way to filter out the junk being sold as “Top Quality”.
          </div>

           <div class="accordion">
            <div class="icon"></div>
              <h5>Can I add more panels to the solar system I already have installed?</h5>
          </div>
           <div class="panel">
             <p>Yes, you can add more panels. But before that, there are a few things one should consider.  Primarily,
              The installed components need to be matched to current equipment (panel wattage and inverter capacity);
              You will have to reapply to connect additional panels (kW’s) to the grid. This affects current feed-in tariff arrangements (adjusting the system may remove your current Fit);
              If the system is older it will need to be brought up to the current electrical standard – the requirement and costs will depend on the year of install.
              Overall it’s more advantageous to install an additional system if you wish to generate more power.
            </div>

            <div class="accordion">
              <div class="icon"></div>
                <h5>How is the energy output of my solar system affected?</h5>
            </div>
             <div class="panel">
               <p>The energy output is entirely dependent on your system size. The larger the system, the more energy it generates. Also, the solar system’s energy output depends on other various factors such as:
                Your location in Australia,
                The direction your panels are facing (with north being the best),
                The tilt angle,
                And the day and season
              </div>

              <div class="accordion">
                <div class="icon"></div>
                  <h5>What maintenance is recommended for solar panels?</h5>
              </div>
               <div class="panel">
                 <p>Try keeping your solar panels out of shade as energy production becomes incompetent when kept from absorbing any sunlight. Always keep checking on the solar panels and be assured the inverters are flashing green lights. If they are not flashing, you are losing money by no longer compensating for your electricity use. Also A good way to track whether your system may require maintenance is by installing a monitoring device. Monitoring devices can allow you to see real time data of how much solar energy your system is generating.
              </div>

                <div class="accordion">
                  <div class="icon"></div>
                    <h5>Can a solar panel be installed on a flat roof?</h5>
                </div>
                 <div class="panel">
                   <p>Yes, you can have solar panels installed on the flat roof of your home or business. Flat roofs have a minimal slope allowance to accommodate solar PV panel systems. These flat roofs are also commonly known as Low pitch roofs. As you start to tilt the panels upwards, you begin to point them toward the sun, therefore they “catch” more sun, improving the amount of energy produced
                  </div>

                  <div class="accordion">
                    <div class="icon"></div>
                      <h5>Is there any size restriction on the PV system?</h5>
                  </div>
                   <div class="panel">
                     <p>Your Electricity Network Provider can put a limit on the size of the system.
                       To enquire about your knowledge regarding the size, the solar expert  will need to know your suburb and postcode of your home.</p>                    </div>
                    <div class="accordion">
                      <div class="icon"></div>
                        <h5>How are single phase and three phase electricity different from each other?</h5>
                    </div>
                     <div class="panel">
                    <p>Electricity is either connected at 230 or 240 volts (single-phase) or 400 and 415 Volts (three-phase) which is better suited for powerful appliances.

                      In single-phase supply, the power flows through one conductor, and mostly single-phase connection is common in small to medium-sized houses that use an average amount of electricity. The single-phase supply requires two wires (one phase and one neutral) for completing the circuit.

                     The three-phase supply consists of three conductors for power supply, and these connections are more common in larger houses that utilize a lot of electricity or in rural areas. The three phases require three-phase wires and one neutral wire for completing the circuit.</p>
                    </div>
                      <div class="accordion">
                        <div class="icon"></div>
                          <h5>Does the condition of the panel (clean/dirty) affect output?</h5>
                      </div>
                       <div class="panel">
                      <p>Well, let’s compare a solar panel with a car windscreen. If there is a buildup of dirt on the windscreen the sunlight piercing through would be less invasive, and you would end up with a lack of visibility. So let us think about solar panels. Solar panels work by allowing light into the solar cell. The more light that hits the panels the more it can generate. The less light absorbed by the solar panels, the lower the output.
                        So keeping the solar panels clean/dirty will directly affect the energy production and hence their output.</p>
                      </div>
                        <div class="accordion">
                          <div class="icon"></div>
                            <h5>What is the meaning of a micro inverter or AC panel?</h5>
                        </div>
                         <div class="panel">
                           <p>Yes, you can have solar panels installed on the flat roof of your home or business. Flat roofs have a minimal slope allowance to accommodate solar PV panel systems. These flat roofs are also commonly known as Low pitch roofs. As you start to tilt the panels upwards, you begin to point them toward the sun, therefore they “catch” more sun, improving the amount of energy produced
                          </div>
                          <div class="accordion">
                            <div class="icon"></div>
                              <h5>What are the most favourable conditions for a solar system to operate?</h5>
                          </div>
                           <div class="panel">
                            <p>Most power is produced by the Solar panels when they are pointed directly at the sun. In Australia, solar modules should face north for optimum electricity production. The solar panels should be positioned at the angle of latitude for grid-connected solar PV power systems, to maximise the amount of energy produced annually.

                              Most Australian homes have a roof pitch of 20° to 30°. If your roof’s slope is not ideal, solar installers can create an appropriate mounting frame to correct the orientation and elevation of your panel.</p>
                          </div>
                            <div class="accordion">
                              <div class="icon"></div>
                                <h5>Can my solar panels be damaged by hail?</h5>
                            </div>
                             <div class="panel">
                             <p>While hail certainly could damage some types of solar panels, the chances are low, and occurrences are rare.

                              The panels are tested to withstand hail. A hail test is conducted with a 20 mm diameter ice ball at 23 m/s (82km/h), directed at 11 impact locations.</p>
                            </div>

           </div>

</div>

