<div class="faq">
<div class="container-fluid">
 <h2>Frequently Asked Questions ?</h2>
 <div class="accordion">
   <div class="icon"></div>
     <h5>What is a power optimiser?</h5>
 </div>
  <div class="panel">
    <p>Power optimisers increase the energy output from PV systems by constantly tracking the maximum power point (MPPT) of each module individually.  Modules’ DC voltage is automatically shut down whenever the inverter or grid power is shut, due to the unique Safe DC™ equipped in them. Multiple orientations tilt and module types in the same string are allowed by MPPT per module.
      Without optimisers, shading on a single panel affects the entire string in Solar PV strings equally. For example, shading 50% of one panel reduces the entire system efficiency by 50%. The DC optimizers allow each panel to work independently, so only the output of the afflicted panel will be affected. Hence if one panel goes down, the rest of your panels would continue working at optimal output.</p>
    </div>

    <div class="accordion">
      <div class="icon"></div>
        <h5>Are there different types of solar panels?</h5>
    </div>
     <div class="panel">
       <p>The three types of solar panels are Monocrystalline, polycrystalline, and thin film.
        Monocrystalline solar panels have purer composition cells than the rest of panels due that are cut from a single silicon block. This makes them more efficient with better performance in high heat weather.
        Polycrystalline Solar Panels have cells that are made from different silicon blocks. This makes them less efficient than monocrystalline panels due that the cells are not as pure as if they were cut from a single silicon block.
        There is a third type of solar technology, called thin film panels, are not made as poly or monocrystalline panels but they have a layer of conductive onto a glass or plastic plate.
       </div>

       <div class="accordion">
        <div class="icon"></div>
          <h5>Does an inverter have an IP65 rating?</h5>
      </div>
       <div class="panel">
         <p>Most of the inverters do have an IP65 rating, indicating it has a high rating for dust and water resistance. Although, it can be crucial to ensure that the inverter’s integrity is not compromised and that it operates for the long haul.
        </div>

         <div class="accordion">
          <div class="icon"></div>
            <h5>What is a Tier 1 solar panel?</h5>
        </div>
         <div class="panel">
           <p>A Tier 1 solar panel is made by a manufacturer that has been rated as Tier 1 by a reputable independent PV industry analyst.
            Tier 1 is the highest (best) tier and the analyst who ranked it believes that the module manufacturer scores well on lots of criteria. Such as Experience, Financial position, manufacturing scale, Deployment scale, Durability & quality, Technical Performance, Vertical integration, Insurance and backing, Service, and support.
             It is recommended to buy Tier 1 panels – as it is a simple way to filter out the junk being sold as “Top Quality”.
          </div>

           <div class="accordion">
            <div class="icon"></div>
              <h5>Can I add more panels to the solar system I already have installed?</h5>
          </div>
           <div class="panel">
             <p>Yes, you can add more panels. But before that, there are a few things one should consider.  Primarily,
              The installed components need to be matched to current equipment (panel wattage and inverter capacity);
              You will have to reapply to connect additional panels (kW’s) to the grid. This affects current feed-in tariff arrangements (adjusting the system may remove your current Fit);
              If the system is older it will need to be brought up to the current electrical standard – the requirement and costs will depend on the year of install.
              Overall it’s more advantageous to install an additional system if you wish to generate more power.
            </div>

            <div class="accordion">
              <div class="icon"></div>
                <h5>How is the energy output of my solar system affected?</h5>
            </div>
             <div class="panel">
               <p>The energy output is entirely dependent on your system size. The larger the system, the more energy it generates. Also, the solar system’s energy output depends on other various factors such as:
                Your location in Australia,
                The direction your panels are facing (with north being the best),
                The tilt angle,
                And the day and season
              </div>

              <div class="accordion">
                <div class="icon"></div>
                  <h5>What maintenance is recommended for solar panels?</h5>
              </div>
               <div class="panel">
                 <p>Try keeping your solar panels out of shade as energy production becomes incompetent when kept from absorbing any sunlight. Always keep checking on the solar panels and be assured the inverters are flashing green lights. If they are not flashing, you are losing money by no longer compensating for your electricity use. Also A good way to track whether your system may require maintenance is by installing a monitoring device. Monitoring devices can allow you to see real time data of how much solar energy your system is generating.
              </div>

                <div class="accordion">
                  <div class="icon"></div>
                    <h5>Can a solar panel be installed on a flat roof?</h5>
                </div>
                 <div class="panel">
                   <p>Yes, you can have solar panels installed on the flat roof of your home or business. Flat roofs have a minimal slope allowance to accommodate solar PV panel systems. These flat roofs are also commonly known as Low pitch roofs. As you start to tilt the panels upwards, you begin to point them toward the sun, therefore they “catch” more sun, improving the amount of energy produced
                  </div>

     </div>
     <script src="faq.js"></script>
</div>

