 <!-- ======= About Us Section ======= -->
 <section id="about" class="about" >
  <div class="container" style="margin-bottom:100px;">
      <p  style="text-align: center;"><b>Find out why Australian homeowners and businesses love AYKA for efficient and quality solar system solutions</b></p><br>
          <div class="row">
              <div class="col-lg-6">
                  <img src="../../assets/imgs/about.jpeg" class="img-fluid" alt="" style="width:100%;">
              </div>
              <div class="col-lg-6 d-flex flex-column justify-content-center about-content">
                  <div class="section-title">
                      <h2>About Us</h2>
                      <p style="text-align: justify-all;">AYKA Technologies is Australia’s most trusted solar retailer and installer, with a vision to provide clean energy solutions to more homeowners and business owners. Our ultimate goal is to provide homes all over the country with renewable energy solutions and high-quality solar panel systems. We are gratified for our work as we help our customers take a step towards a greener future for our beautiful country and save money on every single electricity bill. With a quality solar system and 10-year workmanship guarantee, our customers are happier and more power-efficient with AYKA Technologies.
                      </p>
                  </div>
              </div>
      </div>
</div>
</section><!-- End About Us Section -->



<!-- ======= About Lists Section ======= -->
<section class="about-lists">
<div class="container">
<div class="row">
  <div class="col-lg-4 col-md-6 content-item">
          <h4><b>Who Are We</b> </h4>
          <p>With more than 7 years of experience the staff here at AYKA has seen it all. AYKA Technologies was formed by like minded professionals to provide quality products, installation and consulting services for the energy industry. The founders have a proven track record in the solar industry with satisfied customers and successful installations.</p>
  </div>

  <div class="col-lg-4 col-md-6 content-item">
      <h4><b>Our Mission</b></h4>
      <p>Customer satisfaction is our first priority. We want to build a world class portfolio of solar energy assets and be in the top 10 globally of solar energy companies. We want to provide customized and high-quality solar panel solutions while maintaining the highest standards of quality and sustainability the Australian market demands.</p>
  </div>

  <div class="col-lg-4 col-md-6 content-item">
      <h4><b>What We Do</b></h4>
      <p>We offer a range of competitive solar panel solutions for our customers, including options for commercial and residential clients. We provide a personalized design and installation service to suit the specific needs of each customer, while giving them the peace of mind of receiving a customized and high-quality solution. All our products meet Australian standard set and we offer a full 10-year workmanship warranty in all our installations.</p>
  </div>
</div>
</div>
</section><br><br>
<!-- End About Lists Section -->


<!-- ======= Counts Section ======= -->
<section class="counts section-bg" style="background-color: white;">
<div class="container">
<div class="row">
  <div class="col-lg-3 col-md-6 text-center" data-aos="fade-up">
      <div class="count-box">
          <i class="icofont-simple-smile" style="color: #20b38e;"></i>
          <span data-toggle="counter-up">232</span>
          <p>Happy Clients</p>
      </div>
  </div>

<div class="col-lg-3 col-md-6 text-center" data-aos="fade-up" data-aos-delay="200">
    <div class="count-box">
      <i class="icofont-document-folder" style="color: #c042ff;"></i>
      <span data-toggle="counter-up">521</span>
      <p>Projects</p>
    </div>
</div>

<div class="col-lg-3 col-md-6 text-center" data-aos="fade-up" data-aos-delay="400">
    <div class="count-box">
        <i class="icofont-live-support" style="color: #46d1ff;"></i>
        <span data-toggle="counter-up">1,463</span>
        <p>Hours Of Support</p>
    </div>
</div>

<div class="col-lg-3 col-md-6 text-center" data-aos="fade-up" data-aos-delay="600">
    <div class="count-box">
        <i class="icofont-users-alt-5" style="color: #ffb459;"></i>
        <span data-toggle="counter-up">15</span>
        <p>Hard Workers</p>
    </div>
</div>

</div>

</div>
</section><br>
<!-- End Counts Section -->


<section class="google_review">
<div class="container">
<div class="row">
<h3 style="text-align: center;"><b>Aussies are loving AYKA Technologies since last 8 years</b></h3>
<img src="../../assets/imgs/Google-reviews.png" style="width:50%; height: 300px;margin-left:280px; " class="img-thumbnail">

<h4 style="text-align: center;"><b>4.9/5 Star Google Review</b></h4>

</div>
</div>
</section>
<section class="social_media">
<div class="jumbotron jumbotron-fluid">
<div class="container">
<div class="row" >
    <div class="col-sm-3" style="background-color: white;height: 250px;margin: 0 0 0 -30px;margin-top:20px; ">
        <img src="../../assets/imgs/Untitled-design-15.png" style="width: 30% auto;height: 100px;margin-top: 50px;margin-left:80px;">
        <h4 ><a href="https://www.google.com/search?q=ayka+technologies&oq=Ayka&aqs=chrome.2.69i57j69i59l2j0l5.10461j1j8&sourceid=chrome&ie=UTF-8" style="color: black;text-align:center;margin-left: 50px;">Review us on Google</a></h4>
      </div><br>
   <div class="col-sm-3" style="background-color: white;height: 250px;margin: 0 0 0 10px;">
        <img src="../../assets/imgs/Untitled-design30.png"style="width: 30% auto;height: 100px;margin-top: 50px;margin-left:80px;">
        <h4 ><a href="https://www.facebook.com/aykatechnologiessolarpanelr;"style="color: black;text-align:center;margin-left: 50px;">Coonect us on facebook</a></h4>
      </div>
   <div class="col-sm-3"style="background-color: white;height: 250px;margin: 0 0 0 10px;">
        <img src="../../assets/imgs/Untitled-design-14.png"style="width: 30% auto;height: 100px;margin-top: 50px;margin-left:80px;">
        <h4 ><a href="https://www.google.com/search?q=ayka+technologies&oq=Ayka&aqs=chrome.2.69i57j69i59l2j0l5.10461j1j8&sourceid=chrome&ie=UTF-8" style="color: black;text-align:center;margin-left: 50px;">know about company</a></h4>
      </div>
   <div class="col-sm-3"style="background-color: white;height: 250px;margin: 0 0 0 10px;">
        <img src="../../assets/imgs/Untitled-design-32.png"style="width: 30% auto;height: 100px;margin-top: 50px;margin-left:80px;">
        <h4 ><a href="https://www.google.com/search?q=ayka+technologies&oq=Ayka&aqs=chrome.2.69i57j69i59l2j0l5.10461j1j8&sourceid=chrome&ie=UTF-8" style="color: black;text-align:center;margin-left: 50px;">productreview.com.au</a></h4>
      </div>
  </div>
</div>

</div>
</section>
<section class="content">

<div class="container" style="height: 300px;">
<div class="row">
  <h2 style="text-align: center;">The right place to find quality solar systems</h2><hr style="color:black;"><br>
  <p style="text-align: center;">Willing to rely on a company for your solar system? Look no further than AYKA Technologies. Seven years ago, a couple of like-minded people joined hands towards their passion for the energy industry to provide high-quality products, consultation and installation of rooftop PV solar systems. Here at AYKA, we<br> have a proven track record of customer satisfaction in the solar industry.</p>
</div>
</div>

</section>


<!-- ======= Contact Us Section ======= -->

<section id="contact" class="contact">
<div class="jumbotron jumbotron-fluid">
<h2 style="text-align: center;"><b>Reach Us</b></h2>
<div class="row">
    <div class="col-sm-4" style="background-color: white;width:300px;height:200px;margin: 0 0 0 300px; ">
       <p style="text-align: center;margin-top:30px;font-size: 30px;"> <span class="glyphicon">&#xe062;</span>
       </p>
       <h3 style="text-align: center;font-size:24px;margin-top:30px;">Find Us</h3>
       <h5 style="text-align: center;font-size:18px;margin-top:20px;">7/13 Brumby street Seven Hills 2147 NSW</h5>
  </div>
   <div class="col-sm-4"  style="background-color: white;width:300px;height:200px;margin: 0 0 0 50px;">
       <p style="text-align: center;margin-top:30px;font-size: 30px;">    <span class="glyphicon glyphicon-earphone"></span>

       </p>
       <h3 style="text-align: center;font-size:24px;margin-top:30px;">Phone</h3>
       <h5 style="text-align: center;font-size:18px;margin-top:20px;" >0409 707 707<br>
           1300 295 276</h5>
  </div>
   <div class="col-sm-4"  style="background-color: white;width:300px;height:200px;margin: 0 0 0 50px;">
      <p style="text-align: center;margin-top:30px;font-size: 30px;"><span class="glyphicon">&#x2709;</span>
          </p>
       <h3 style="text-align: center;font-size:24px;margin-top:30px;">Email</h3>
       <h5 style="text-align: center;font-size:18px;margin-top:20px;">enquiries@ayka.com.au</h5>
  </div>
</div>
</div>


</section>
