<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<section class="commer">
<section class="protop">
  <div class="top">
      <img src="../../assets/imgs/reside.jpg">
  </div>
  <div class="card" style="width: 20rem;">
   <div class="card-body">
     <h5 class="card-title">Switch to Solar For Greener Future Benefits:</h5>
     <ul class="card-text">
       <li>Tailored designs suited to fit your needs</li>
        <li>A reliable team of solar experts</li>
       <li>High quality components and top brands in the market</li>
       <li>Rated 4.9* on Google</li>
       <li>10 years limited workmanship warranty</li>
       <li>Return on Investment in 2 years</li>
     </ul>
   </div>
 </div>
 </section>
  <section class="residential">
  <div class="row">
    <div class="col-md-6">
      <div class="leftside">
         <img src="../../assets/imgs/resi.jpeg">
      </div>
    </div>
    <div class="col-md-6">
     <div class="rightside">
       <div class="title">Residential Solar</div>
       <div class="subtitle">
        Live a better life with our solar solutions. Solar energy protects your family from high electricity bills, makes you earn money by sending back your excess electricity to the grid, and reduces your carbon emissions, contributing to saving the environment.
           Homeowners across Australia are switching to solar to create a green future, clean energy economy, and contribute towards global climate change.
        Investing in rooftop solutions leads to great savings while protecting the environment. AYKA Technologies offers a solar rooftop for homes. Get a variety of solar products, and invest in a solar panel system. Save and Earn from your idle rooftop space. Residential solar systems need the hour as they are the future of home energy production and considered a smart investment.
       Apart from being economical, solar power provides benefits to the environment.
      </div>
     </div>
    </div>
  </div>
 </section>
 <section class="experties">
  <div class="container">
      <div class="row mt-5">
       <div class="col-lg-4 mb-5"  *ngFor="let cs of experties">
         <div class="boxex shadow-sm">
          <h5 class="name">{{cs.name}}</h5>
           <h1 class="title">{{cs.wat}}</h1>
         <p class="des">{{cs.description}}</p>
         <br>
         <p class="des">Tier 1 Panels</p>
         <br>
         <p class="des">{{cs.des}}</p>
         <br>
         <div class="blue">
          <button class="button" style="vertical-align:middle" type="submit"><span>Get Quotes</span></button>
         </div>
         </div>
       </div>
    </div>
 </div>
</section>
 </section>
