<section class="protop">
  <div class="top">
      <img src="../../assets/imgs/back2.jpg">
  </div>
  <div class="card" style="width: 20rem;">
   <div class="card-body">
     <h5 class="card-title">Solar for any business, big or small</h5>
     <h6 class="card-subtitle mb-2 text-muted">Financial benefits:</h6>
     <ul class="card-text">
       <li>Lease options available</li>
        <li>$0* upfront</li>
       <li>Power Purchase Agreement (PPA)</li>
       <li>Potential tax benefits</li>
       <li>10 years limited workmanship warranty</li>
     </ul>
     <a href="#" class="btn btn-lg btn-primary">Request quotes</a>

   </div>
 </div>
 </section>
 <section class="project">
   <div class="container">
     <h1 class="text-center">Our Projects</h1>
      <div class="row mt-5">
         <div class="col-lg-4 mb-5"  *ngFor="let cs of project">
           <div class="box shadow-sm">
             <img src="{{cs.image}}" width="100%">
           <h5 class="mt-2">{{cs.name}}</h5>
           <p class="mt-2">{{cs.description}}</p>
           </div>
         </div>
      </div>
   </div>
   </section>
