.navbar{
  background-color: #ffffff;
  height: 80px;
}
.navbar-light .navbar-nav .nav-link{
  color: #000000;
  font-size: 18px;
  font-weight: 600;
}
.navbar-light .navbar-nav .nav-link:hover{
  color: rgb(0, 204, 255);
  font-weight: bold;
}

.logo img{
  width:22%;
  height:18%;
}

footer{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-flow: row wrap;
  padding: 50px;
  color: #fff;
  background-color: #011c39;
}
.footer > *{
  flex:1 100%;
}
.footer-left{
  margin-right: 1.25em;
  margin-bottom: 2em;
}
.footer-left img{
  width: 17%;
  height: 30%;
}
h2{
  font-weight: 600;
  font-size: 17px;
}
.footer ul{
  list-style: none;
  padding-left: 0;
}
.footer li{
  line-height: 2em;
}
.footer a{
  text-decoration: none;
}
.footer-right{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-flow: row wrap;
}
.footer-right > *{
  flex: 1 50%;
  margin-right: 1.25em;
}
.box a{
  color:#999;
}
.footer-bottom{
  text-align: center;
  color: #999;
  padding-top: 50px;

}
.footer-left p{
  padding-right: 10%;
  color: #999;
}
.socials a{
  background: #364a62;
  width: 40px;
  height:40px;
  display: inline-block;
  margin-right: 10px;
}
.socials a i{
color: #e7f2f4;
padding: 10px 12px;
font-size: 20px;
}
@media screen and (min-width:600px)
{
  .footer-right > *{
    flex: 1;
  }
  .footer-left{
    flex: 1 0px;
  }
  .footer-right{
    flex: 2 0px;
  }

}
@media (max-width:600px)
{
  .footer{
    padding: 15px;

  }
  .footer-right{
    text-align: center;
  }
}
.nav-item .btn{
  background-color: orange;
  border: orangered;
}
.dropbtn {
  color: white;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {color: #3e8e41;}
