<nav class="navbar navbar-expand-lg navbar-light ">
  <div class="logo">
   <a href="#">
    <img src="../assets/imgs/logo.jpeg" alt="" routerLink="">
  </a>
  </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="faq">FAQ's</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contact">ContactUs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about">AboutUs</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropbtn" routerLink="commercial">Services&nbsp;></a>
          <div class="dropdown-content">
            <a routerLink="commercial">Commercial Solar</a>
            <a routerLink="residentail">Residental Solar</a>
            <a routerLink="finance">Solar finance</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="blog">Blogs</a>
        </li>
         <li class="nav-item">
          <a class="btn btn-lg btn-primary" routerLink="#">Request&nbsp;Quote's</a>
        </li>
      </ul>
  </div>
</nav>
<router-outlet></router-outlet>
<!----footer-->

<footer class="footer">
  <div class="footer-left">
    <img src="../assets/imgs/logo.jpeg" alt="">
    <p>AYKA Technologies is a leading retailer & installer of quality solar power systems across Australia and one of the Clean Energy Council members. Over the last few years, our customers have benefited from investing in our solar panel solutions. </p>
     <div class="socials">
       <a href="#" ><i class="fa fa-facebook"></i></a>
       <a href="#"><i class="fa fa-twitter"></i></a>
       <a href="#"><i class="fa fa-youtube"></i></a>
       <a href="#"><i class="fa fa-google"></i></a>
      </div>
  </div>
  <ul class="footer-right">
    <li>
      <h2>Important Links</h2>
      <ul class="box">
        <li><a href="#">Commercial Solar</a></li>
        <li><a href="#">Residential Solar</a></li>
        <li><a href="#">Solar Power</a></li>
        <li><a href="#">Get Solar Energy System</a></li>
        <li><a href="#">Best Solar Enery Company</a></li>
      </ul>
    </li>
    <li>
      <h2>Useful Links</h2>
      <ul class="box">
        <li><a href="#">Home</a></li>
        <li><a href="#">Contact US</a></li>
        <li><a href="#">About Us</a></li>
      </ul>
    </li>
    <li>
      <h2>Address</h2>
      <ul class="box">
        <li><a href="#">7/13 Brumby Street,</a></li>
        <li><a href="#">Seven Hills,</a></li>
        <li><a href="#">2147 NSW</a></li>
        <li><a href="#">enquiries@ayka.com.au</a></li>
        <li><a href="#">0409707707</a></li>
      </ul>
      <div class="footer-bottom">
        <p>Copyright &copy; @2020 AYKA | Privacy Policy</p>
      </div>
    </li>
  </ul>
</footer>

