*{
  margin: 0%;
  padding: 0%;
}
.home img
{
  width: 100%;
  height: 600px;
  object-position: center;
  object-fit: cover;
}
.homecontent
{
  position: absolute;
  top:60%;
  left: 40%;
  transform: translate(-50%,-50%);
}
.homecontent h1{
  color: #ffffff;
  font-size: 60px;
}
.homecontent p{
  color: #ffffff;
  font-size: 30px;
}
.homecontent a{
  margin-top: 10px;
}

/* Create two equal columns that floats next to each other */
.columnl{
  float: left;
  width: 50%;
  padding: 10px;
  height: 500px; /* Should be removed. Only for demonstration */
}
.columnr{
  float: right;
  width: 50%;
  padding: 10px;
  height: 500px; /* Should be removed. Only for demonstration */
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.columnl .top-left img{
  padding: 0 0 110px 110px;
   width: 100%;
  height: 500px;
}
.columnl .img-left img{
  top: 50%;
  left: 60%;
  width: 25%;
  height: 25%;
  transform: translate(15%, -110%);
}

.columnr h4{
  padding: 20px;
  font-size: 30px;
  font-weight: bold;
}
.columnr .subtitle p{
    padding: 30px;
    font-size: 16px;
    font-weight: 400;
}
.services{
  background-color:#eff6ff;
  text-align: center;
  padding-left: 50px;
}
.experties{
  background-color:#eff6ff;
  padding-left: 50px;
}
.box h5{
  text-align: center;
  font-size: 20px;
}
.box:hover{

  color: #ffffff;
  background-image: linear-gradient(rgba(52, 243, 227, 0.733),rgba(0, 0, 255, 0.589));
}
.box{
  background-color: #ffffff;
  padding: 10px 20px;
  transition: transform .2s;
  border-radius: 10px;
}
.box p{
  font-size: 15px;
  font-weight: 350;
  text-align: center;
}
.text-center {
  border-left: 5px solid green;
  height: 60px;
  font-size: 50px;
  font-weight: bold;
  padding-right: 68%;
}
.text-install {
  padding-top: 20px;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}
.val{
  border-bottom: 6px solid green;
  width: 200px;
  margin-left: 40%;
}
.counting-sec{
  padding: 40px 0;
  width:100%;
  background: linear-gradient(90deg,#3c6382,#82ccdd);
}
.inner-width{
   max-width: 1200px;
  margin: auto;
  display: flex;
}
.col{
  flex: 1;
  text-align: center;
  padding: 20px;
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
}
.col i{
  font-size: 50px;
  color: #fff;
}
.num{
  font-size: 40px;
  margin: 20px 0;
  font-weight: bold;
}
.box-install{
  text-align: center;
  padding:10px 10px;

}
.install{
  padding-left: 50px;
}
.box-install img{
  width: 40%;
  height:40%
}
@media screen and (max-width:780px)
{
  .home img{
    height: 700px;
  }
  .homecontent h1
  {
    font-size: 40px;
  }
  .columnl .top-left img{
    height: 350px;
    width: 100%;
  }
  .columnr .title h4{
    font-size: 20px;
  }
  .about .columnl {
     height: 500px;
     width: 100%;
  }
  .about .columnr{
    width: 100%;
    height: auto;
  }
  .services .box{
    width: 70%;
  }
  .services{
    width: 100%;
  }

}
